<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8">
	<title>Logus Retail</title>
</head>

<body>
	<div layout:fragment="body">

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<div class="card shadow-lg border-0 rounded-lg mt-5">
						<div class="card-header">
							<h3 class="text-center font-weight-light my-4">Cadastrar consulta</h3>
						</div>
						<div class="card-body">

							<form th:action="@{/consulta/create}" method="POST" th:object="${consulta}">

								<div class="form-row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="small mb-1" for="inputFirstName">Nome do Paciente:</label>
											<select id="pacientes" th:field="${consulta.paciente.id}">
												<option value="">Selecione o Paciente</option>
												<option th:each="paciente : ${listaPacientes}" th:value="${paciente.id}"
													th:text="${paciente.nome}" selected="selected"></option>
											</select>
										</div>
									</div>

								</div>
								<div class="form-row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="small mb-1" for="inputNomeMedico">Médico (Nome - CRM -
												Especialidade):</label>
											<select id="medico" th:field="${consulta.listaMedico[0].id}">
												<option value="">Selecione o Médico</option>
												<option th:each="medico : ${listaMedicos}" th:value="${medico.id}"
													th:text="${medico.nome} + ' - ' + ${medico.crm} + ' - ' +${medico.especialidade}"
													selected="selected"></option>

											</select>
										</div>

									</div>

								</div>
								
								<div class="form-row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="small mb-1" for="inputNomeMedico">Médico (Nome - CRM -
												Especialidade):</label>
											<select id="medico" th:field="${consulta.listaMedico[1].id}">
												<option value="">Selecione o Médico</option>
												<option th:each="medico : ${listaMedicos}" th:value="${medico.id}"
													th:text="${medico.nome} + ' - ' + ${medico.crm} + ' - ' +${medico.especialidade}"
													selected="selected"></option>

											</select>
										</div>

									</div>

								</div>

								<div class="form-row">
									<div class="col-md-3">
										<div class="form-group">
											<label class="small mb-1" for="inputEstado">N° consultório:</label>
											<select id="consultorios" th:field="${consulta.consultorio.id}">
												<option value="">Selecione o Consultório</option>
												<option th:each="consultorio : ${listaConsultorio}"
													th:value="${consultorio.id}"
													th:text="${consultorio.numeroConsultorio}" selected="selected">

												</option>
											</select>
										</div>
									</div>
								</div>

								<div class="form-row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="inputDataHoraFormatada">Data/Hora:</label>
											<input type="datetime-local" id="dataHoraFormatada" th:field="${consulta.dataHoraFormatada}">
										</div>
									</div>
								</div>

								<div class="form-group mt-4 mb-0">

									<div class="alert alert-danger" th:if="${erros} != null" th:each="erro : ${erros}" th:text="${erro}"></div>

								</div>
								
								<div class="form-group mt-4 mb-0">

									<div class="alert alert-success" th:if="${criado} != null"  th:text="${criado}"></div>

								</div>


								<div class="form-group mt-4 mb-0">

									<button type="submit" class="btn btn-primary btn-block">Adicionar consulta</button>


								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>